footer {
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #083549;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
    color: #f0faff;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
}

.logo p{
    margin: 0;
}

.informacao{
    color:#f0faff;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.informacao p{
    margin: 0;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.redes-sociais img{
    width: 20px;
    height: 20px;
}

@media (min-width: 600px) and (max-width: 850px){
    .informacao{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    .informacao{
        flex-direction: column;
        
    }
}