header {
  padding: 10px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #083549;
  overflow: auto;
}

.logo .link-home {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color: #f0faff;
  align-items: center;
}

.logo .link-home img {
  height: 50px;
  width: 50px;
}

.logo .link-home p{
  margin: 0;
}

.navigation{
  display: flex;
  gap: 20px;
}

.navigation a {
  text-decoration: none;
  color: #f0faff;
  padding: 15px;
}

.navigation a:hover {
  border-bottom: 4px solid #f0faff;
}

.log{
  display: flex;
  gap: 20px;
} 

.log a{
  text-decoration: none;
  box-sizing: border-box;
  color: #f0f9ff;
  padding: 15px;
}


.log .cadastro{
  border: 2px solid #f0f9ff;
  border-radius: 10px;
}

.log .cadastro:hover{
  background-color:#f0f9ff;
  color: #082f49;
}

.navigation-mobile{
  display: none;
  flex-direction: column;
}

.menu-hamburguer{
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.menu-hamburguer img{
  width: 50px;
  height: 50px;
}

.navigation-hamburguer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-hamburguer .links-mobile{
  text-decoration: none;
  color: #f0f9ff;
}


@media (max-width: 600px) {
  header{
    padding: 20px;
  }

  .navigation, .log{
    display: none;
  }

  .navigation-mobile{
    display: flex;
  }
}