main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrosel img{
    width: 100vw;
    height: 60vh;
}

.carrosVenda h1{
    text-align: center;
}

.cardsCarrosVenda{
    gap: 10px;
}