main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrosel img{
    width: 100vw;
    height: 60vh;
}

.carrosVenda h1{
    text-align: center;
}

.cardsCarrosVenda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}

@media (max-width: 600px) {
    .carrosel img{
        height: 30vh;
    }
    .carrosel h3{
        font-size: 15px;
    }
    .carrosel p{
        font-size: 10px;
    }
}