.card{
  width: 18rem;
  border-radius: 4px;
  border: 1px solid #000;
}

.card:hover{
  background-color: #e0f4fe;
}

.card img{
  width: 100%;
  height: 40%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card .cardBody{
  padding: 16px;
}

.card h2{
  font-size: 20px;
  margin-bottom: 8px;
}


.card h3{
  font-size: 16px;
  margin: 0;
}

.card p{
  margin-top: 0;
}

.card .localidade{
  border-top: 1px solid #baeafd;
  background-color: #f0faff;
  padding: 8px 16px;
}

.card Button{
  margin-top: 10px;
  background-color: #bae8fd;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.card Button:hover{
  background-color: #7dd5fc;
  cursor: pointer;
}

.detalhes img{
  width: 300px;
  height: 168px;
}